/* index.css */
/* 태그선택자 {속성:값;} */
/* #아이디선택자 {속성:값;} */
/* .클래스선택자 {속성:값;} */
/* 부모선택자 > 자식선택자 {속성:값;} */
/* 형제선택자 + 인접형제선택자 {속성:값;} */
/* 형제선택자 ~ 뒤에모든형제들 {속성:값;} */
body {background-color: #f5f5f5;}
#wrap {
    width:402px;/* css 숫자입력 시 단위작성하기 */
    height:874px;
    background-color:#fff;
    /* 안쪽여백, 피그마 오토레이아웃 패딩과 동일 */
    /* 패딩 값 1개 작성 시 - 전체 방향 적용 */
    /* padding:45px; */
    /* 패딩 값 2개 작성 시 - 상하/좌우 방향 적용 */
    padding:45px 15px;
    /* 패딩 값 3개 작성 시 - 상/좌우/하 방향 적용 */
    /* padding:45px 15px 45px */
    /* 패딩 값 4개 작성 시 - 12/3/6/9 시계방향 적용 */
    /* padding:45px 15px 45px 15px; */
    /* 안쪽여백 패딩을 4방향 각각 넣는법 */
    /* padding-left:15px;
    padding-right:15px;
    padding-top:45px;
    padding-bottom:45px; */
    /* 테두리 적용 문법 border:두께 모양 색상; */
    /* border-right:1px solid #000; */
    position: relative;
    margin: 0 auto;
    position: relative;
}
/* ====================================================== header 1행 */
#wrap > header {
    border-bottom:1px solid #000;
    margin-bottom:46px;
}
#wrap > header > .top {
    display:flex;
    flex-flow:row nowrap;
    justify-content: space-between;
}
#wrap > header > .top > h1 {}
#wrap > header > .top > h1 > a {/* 글자꾸미기는 글자에 가장 가까운 선택자에 작성 */
    font-size:1.125em;
    font-weight:700;/* Regular(400) 굵기 종류에 따라 +-100 */
    /* reset.css의 초기화 설정값에 따라 작성 유무 결정하기(적용값과 초기값이 같으면 생략) */
}
#wrap > header > .top > .search_menu {}
#wrap > header > .top > .search_menu > .search {
    margin-right:8px;
}
#wrap > header > .top > .search_menu > .search > img {}
#wrap > header > .top > .search_menu > .all_menu {}
#wrap > header > .top > .search_menu > .all_menu > img {}
/* ====================================================== header 2행 */
#wrap > header > nav {
    padding-bottom:10px;
}
#wrap > header > nav > .all {
    /* 자간, 행간, 글꼴 reset 초기값과 동일하므로 생략 */
    font-size:1.125em;
    color:#aaa;
    margin-right:10px;
}
#wrap > header > nav > .all > .num {}
#wrap > header > nav > .today {
    font-size:1.125em;
    color:#aaa;
}
#wrap > header > nav > .today > .num {color:#aaa;}
#wrap > header > nav > .active {
    font-weight:700;
    color:#000;
}/* 활성화기준 대상 */
#wrap > header > nav > .active > .num {
    font-weight:700; color:#000;
}
/* ====================================================== 1. 오늘할일 목록 리스트 */
#wrap > main {
    height: 87%;
    overflow:auto;/* 내용이 넘친 방향만 자동으로 스크롤을 만들고 나머지는 hidden처리 */
}
#wrap > main > .list_wrap {
    display: flex;
    flex-flow: column-reverse nowrap;
    /* 실제 웹&앱 서비스를 이용하는 사용자가 작성하는 내용은 항상 부모의 마지막 자식 위치로 삽입된다. 개발자가 '반전' 설정을 하지 않으면 무조건 아래로 쌓인다는 뜻. 내용이 많을 수록 점점 보기 불편해지는 상황이 생기므로 축 반전을 통해 사용자가 작성한 마지막 글이 '첫글'이 되도록 프로그래밍을 작성해야한다. */
}
#wrap > main > .list_wrap > li {
    display: flex;
    /* display: flex; 외에 나머지 속성은 순서 상관 없음. */
    flex-flow:row nowrap;/* 메인축(수평) 줄바꿈(X) */
    gap: 16px;/* 2개 이상의 자식 사이 바깥쪽 여백(간격) 적용(margin효과 동일) flex없이 gap을 쓰면 안됨*/
    padding: 12px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    justify-content: flex-start;
    align-items: flex-start;
}
#wrap > main > .list_wrap > li > * {
    letter-spacing: -0.02em;
    /* 글자크기 16, 글꼴('pretendard', 'sans-sarif), 행간 100% reset 기본값 생략 */
}
#wrap > main > .list_wrap > li > .date {
    font-weight: 600;
}
#wrap > main > .list_wrap > li > .list {}
/* ====================================================== 3. 목록 압력 창 */
#wrap > main > .write_popup {
    display: flex;
    width: 370px; height: 269px;
    background-color: #fff;
    flex-flow: column nowrap;
    justify-content: space-between;
    /* align-items: flex-end; 자식 모두에세 주고 싶은 경우 */
    padding: 20px;
    /* 팝업 띄우기 */
    position: absolute;
    top:300px; right:16px;
    z-index: 60;
}
#wrap > main > .write_popup > .info {
    font-family: 'Noto Sans KR', '맑은 고딕';
    font-size: 0.875em;
    letter-spacing: -0.02em;
    color: rgba(0, 0, 0, 0.6);
}
#wrap > main > .write_popup > .write_btn {
    width: 42px;
    align-self: self-end;/* 자식에게만 개별로 적용하고 싶은 경우 */
}
#wrap > main > .write_popup > .write_btn > img {width: 100%;}
/* ======================================================= 글쓰기 버튼 */
#wrap > main > .write_popup_btn {
    display: block;
    width:42px; height:42px;
    /* position:fixed; */
    /* bottom:45px; right:15px; */
    position:absolute;
    bottom:45px; right:15px;
}
#wrap > main > .write_popup_btn > img {width: 100%;}
#wrap main .popup_bg {
    background-color: rgba(0,0,0,0.25);
    position: absolute;
    top: 0; left:0;
    width: 100%; height: 100%;
    z-index: 50;
}